@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <NavLink href="/" >Preview</NavLink>
            <NavLink href="parameters" >Parameters</NavLink>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
